venv/
.env
.clang-format
.DS_Store
.tags
.ipynb_checkpoints
.idea
.overlay_init
.overlay_consistent
.sconsign.dblite
.vscode*
model2.png
a.out
.hypothesis

*.dylib
*.DSYM
*.d
*.pyc
*.pyo
.*.swp
.*.swo
.*.un~
*.tmp
*.o
*.o-*
*.os
*.os-*
*.a
*.clb
*.class
*.pyxbldc
*.vcd
config.json
clcache
compile_commands.json

persist
board/obj/
/src/

one
openpilot
notebooks
xx
yy
hyperthneed
panda_jungle
provisioning

.coverage*
coverage.xml
htmlcov
pandaextra

.mypy_cache/
flycheck_*

cppcheck_report.txt
comma*.sh

models/*.thneed

*.bz2

build/

!**/.gitkeep
